{% extends 'layout/main.twig' %}

{% block title %} Chat {% endblock %}

{% block content %}


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body"> This is some Chat. </div>
            </div>
        </div>
    </div>


{% endblock %}