{% extends 'layout/main.twig' %}

{% block title %} Admin Control Panel - Settings {% endblock %}

{% block content %}

    {% include 'dashboard/menu.twig' %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-title text-center">
                    <h4 class="text-info">Settings</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
